* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.scroll {
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 99;
    backdrop-filter: blur(10px);
}

.header-title a {
    padding: 0 37px;
    font-weight: 450;
    font-size: 18px;
    color: #FFFFFF;
}

.hero-title h1 {
    padding-top: 350px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;

}

.hero-title p {
    padding: 50px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.hero-title span {
    color: #FF9900;
}

#hero {
    background: url("../img/food.png") no-repeat top/cover;
    min-height: 120vh;
    padding-bottom: 100px;
}

.btn {
    padding: 20px 0;
    display: flex;
    align-items: center;

}

.btn-left button {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background: #FF9900;
    border: 1px solid #FF9900;
    width: 331px;
    height: 41px;
    left: 135px;
    top: 509px;
    border-radius: 60px 0 0 60px;

}

.btn-right button {
    background: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    width: 142px;
    height: 41px;
    left: 135px;
    top: 509px;
    border: 1px solid #FF9900;
    border-radius: 0 60px 60px 0;
}

.btn ion-icon {
    font-size: 30px;
}

.btn-left button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-right button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#food {
    padding-top: 90px;
    background: url("../img/appl.png") no-repeat top/cover;
    min-height: 180vh;
}

.food {
    position: relative;

}

.food h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;

}

.food-icon a {
    width: 500px;
    font-size: 29px;
    color: #FF9900;
}

.food-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 500px;
    top: -0;
}

.figure1 {
    position: absolute;
    width: 194px;
    left: 513px;
    top: 12px;
    border: 2px solid #FF9900;
    transform: rotate(180deg);

}

.figure2 {
    position: absolute;
    width: 194px;
    left: 819px;
    top: 12px;
    border: 2px solid #FF9900;
    transform: rotate(180deg);

}

.figure3 {
    position: absolute;
    width: 47px;
    height: 47px;
    left: 985px;
    top: -7px;
    border-radius: 50%;
    border: 1px solid #FF9900;
}

.pizza-input {
    margin-left: 30px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.pizza-input input {
    margin: 0 20px;
}

.pizza p {
    margin-left: 50px;
    padding: 30px 0;
    width: 190px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.pizza-btn h5 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration-line: line-through;
}

.pizza-btn button {
    margin: 0 30px;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
    width: 83px;
    height: 25px;
    background: #FF9900;
    border-radius: 60px;
}

.pizza-btn {

    margin-left: 50px;
    display: flex;
    align-items: center;

}

.pizza h1 {
    margin-left: 50px;
    width: 195px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.pizza {
    margin-top: 150px;
    position: relative;
    padding-top: 100px;
    width: 301px;
    height: 312px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(99, 99, 99, 0.58) 0%, rgba(99, 99, 99, 0.58) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.pizza img {
    position: absolute;
    width: 193px;
    height: 183px;
    bottom: 316px;

}

.pizza h4 {
    padding: 15px 0;
    margin-left: 100px;
    font-size: 15px;
    color: #FFFFFF;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: -webkit-transform, height;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: rgba(255, 255, 255, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube,
.swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container.one {
    padding-top: 40px;
    text-align: center;
}

.swiper-container.one .swiper-slide {
    padding: 0 43px;
}

.swiper-container {
    width: 100%;
    padding-bottom: 60px;
}

.swiper-slide img {
    display: block;
    margin: auto;
    width: 100%;
}

.swiper-slide {
    width: 390px;
    height: auto;
    padding: 0 15px;
}

.two .swiper-slide {
    width: 300px;
}

.swiper-slide img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.swiper-slide .slider-image .preview-icon {
    z-index: -1;
    width: calc(100% - 30px);
}

.swiper-slide.swiper-slide-active .slider-image:hover .preview-icon {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    z-index: 1;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
}

.swiper-pagination-bullet {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #ee0f6f;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 26px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ee0f6f 0%, #f89482 100%) repeat scroll 0 0;
    border: medium none;
    height: 12px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    width: 12px;
}


#pov {
    background: url("../img/image 2.png") no-repeat top/cover;
    min-height: 100vh;
}

.pov {
    padding: 150px 0;
    position: relative;
}

.pov-img img {
    padding-left: 100px;
    position: relative;
    z-index: 1;
}

.fig-img {
    position: absolute;
    top: 90px;
    left: 235px;
    z-index: 3;
}

.figur0 {
    position: absolute;
    width: 118px;
    height: 118px;
    left: 309px;
    top: 64px;
    background: #282626;
    border-radius: 60px;
    z-index: 2;
}

.fig-img1 {
    position: absolute;
    top: 222px;
    left: -6px;
    z-index: 3;
}

.figur1 {
    position: absolute;
    top: 200px;
    width: 118px;
    height: 118px;
    left: 75px;
    background: #282626;
    border-radius: 60px;
    z-index: 2
}

.figur2 {
    position: absolute;
    top: 200px;
    width: 118px;
    height: 118px;
    left: 525px;
    /*top: 2254px;*/
    background: #282626;
    border-radius: 60px;
    z-index: 2
}

.fig-img2 {
    position: absolute;
    top: 215px;
    left: 450px;
    z-index: 3;
}

.figur3 {
    position: absolute;
    top: 494px;
    width: 118px;
    height: 118px;
    left: 120px;
    background: #282626;
    border-radius: 60px;
    z-index: 2
}

.fig-img3 {
    position: absolute;
    top: 520px;
    left: 50px;
    z-index: 3;
}

.figur4 {
    position: absolute;
    width: 114px;
    height: 114px;
    left: 512px;
    top: 500px;
    border-radius: 80px;
    background: #282626;
    z-index: 3;
}

.figur5 {
    position: relative;
    width: 150px;
    height: 150px;
    left: 430px;
    top: -120px;
    border-radius: 80px;
    background: #FF9900;
}

.fig-img4 {
    position: absolute;
    top: 513px;
    left: 426px;
    z-index: 5;

}

.pov-title h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /*text-align: center;*/
    color: #FFFFFF;
    padding-bottom: 15px;
}

.pov-title h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.pov-title p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 400px;
    color: #FFFFFF;
    padding-top: 60px;
}

.pov {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pov-title img {
    width: 30px;
    padding: 0 20px;
}

.s {
    position: absolute;
    width: 380px;
    left: 750px;
    top: 487px;
    border: 1px solid #FF9900;
}

.a {
    position: absolute;
    width: 20px;
    left: 846px;
    top: 475px;

    border: 1px solid #FF9900;
    transform: rotate(90deg);
}

.b {
    position: absolute;
    width: 20px;
    left: 773px;
    top: 476px;
    border: 1px solid #FF9900;
    transform: rotate(90deg);
}

.c {
    position: absolute;
    width: 20px;
    left: 920px;
    top: 477px;
    border: 1px solid #FF9900;
    transform: rotate(90deg);
}

.d {
    position: absolute;
    width: 20px;
    left: 995px;
    top: 476px;
    border: 1px solid #FF9900;
    transform: rotate(90deg);
}

.e {
    position: absolute;
    width: 20px;
    left: 1067px;
    top: 475px;
    border: 1px solid #FF9900;
    transform: rotate(90deg);
}

/*BOX- SIGN IN*/

.box {
    position: relative;
    height: 420px;
    width: 380px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
}

.box::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 380px;
    background: linear-gradient(0deg, transparent, #0074fe, #00c2ca);
    animation: box 6s linear infinite;
    transform-origin: bottom right;
}

.box::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 380px;
    background: linear-gradient(0deg, transparent, #f31658, #00c2ca);
    animation: box 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: 2s;
}

@keyframes box {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    height: 900px;
    position: absolute;
    padding: 50px 40px;
    /*margin-bottom: 450px;*/
    display: flex;
    flex-direction: column;
    background: #000;
    inset: 2px;
    border-radius: 10px;
    z-index: 10;
}

.form h2 {
    color: #f31658;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.1em;
}

.input {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

input {

    padding: 10px;
    width: 100%;
    color: #fff;
    background: #000;
    font-size: 1em;
    border: 1px solid #333;
    border-radius: 4px;
    outline: none;
}

label {
    position: absolute;
    padding: 10px;
    left: 0;
    color: #333;
    font-size: 1em;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s;
}

input:valid ~ label, input:focus ~ label {
    padding: 0 10px;
    color: #F31658FF;
    background: #000;
    border-left: 1px solid #F31658FF;
    font-size: 0.65em;
    letter-spacing: 2.5px;
    transform: translateX(10px) translateY(-7px);
}

input label, input label {
    border: 1px solid #E7205CFF;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links a {
    margin: 10px 0px;
    color: #333;
    font-size: 0.75em;
    text-decoration: none;
    transition: 0.5s;
}

.links a:hover, .links a:nth-child(2) {
    color: #f31658;
}

input[type='submit'] {
    margin-top: 10px;
    padding: 11px 25px;
    width: 157px;
    font-weight: 600;
    background: #E7205CFF;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
}
input[type='submit']:hover {
    transform: scale(1.2);
    background: #ffffff;
    color: #050505;
}
.data {
    display: flex;
    align-items: center;
}

#table {
    background: url("../img/image 22.png") no-repeat center/cover;
    min-height: 120vh;
}

.table {
    position: relative;
}
.img-coffee img {
    position: absolute;
}

.box {
    height: 379px;
    width: 383px;
    padding-top: 200px;
}

#our {
    background: url("../img/image 22.png") no-repeat bottom/cover;
    min-height: 167vh;
}

.our-title h1 {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;

}

.our-title {
    padding: 30px 0;
}

.our-title p {
    padding: 30px 0;
    width: 360px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}
.input textarea {
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px;
    outline: none;
    background: none;
    color: #FFFFFF;
}
.our-title button {
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
    background: none;
    width: 270px;
    height: 63px;
    border: 1px solid #FF9900;
    border-radius: 60px;
    transition: .5s;
}
.our-title button:hover {
    transform: scale(1.2);
    background: #ffffff;
    color: #050505;
}

.our-icon a {
    width: 104px;
    font-size: 20px;
    color: #FF9900;


}

.figure-icon1 {
    top: 239px;
    right: 460px;
    z-index: 5;
    position: absolute;
    width: 104px;
    border: 2px solid #FF9900;
    transform: rotate(90deg);
}

.figure-icon2 {
    position: absolute;
    width: 174px;
    border: 2px solid #FF9900;
    transform: rotate(90deg);
}

.star h1 {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.star p {
    margin: 10px 0;
    width: 282px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.our-icon2 a {
    padding: 30px 0;
    color: #FBC400;
}

.star-title p {
    padding: 30px 0;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

.star-title h2 {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;

}

.star-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}


.our {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star {
    position: relative;
    padding-top: 80px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 200px;
    width: 300px;
    height: 571px;
    background: radial-gradient(100% 100% at 0% 33.19%, rgba(126, 126, 126, 0.46) 0%, rgba(114, 112, 112, 0.46) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    backdrop-filter: blur(5px);
    border-radius: 60px;
}

.our-img {
    top: 133px;
    right: 414px;
    position: absolute;
    z-index: 1;
}

.our-icon {
    right: 500px;
    z-index: 5;
    top: 175px;
    position: absolute;
}

.our-iconq1 {
    right: 500px;
    z-index: 5;
    top: 461px;
    position: absolute;
}

.our-iconq1 a {
    left: 200px;
    font-size: 30px;
    color: #FF9900;
}

.figure-icon2 {
    top: 423px;
    right: 460px;
    z-index: 5;
    position: absolute;
    width: 104px;
    border: 2px solid #FF9900;
    transform: rotate(90deg);
}

.our-icon a {
    font-size: 30px;
}

.our-icon2 a {
    padding: 0 5px;

}

.figma {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF9900;
    width: 73px;
    height: 73px;
    border-radius: 100%;
    z-index: 120;
}

.footer-nav {
    display: flex;
    align-items: center;
}

.phone {
    display: flex;
    align-items: center;
}

#footer {
    background: url("../img/image 22.png") no-repeat bottom/cover;
    min-height: 25vh;
}

.footer line {
    width: 1440px;
    height: 293px;
    left: 2px;
    top: 5025px;
    border: 1px solid #FF9900;
    border-radius: 40px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title a {
    padding: 20px 0;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

}

.footer-title h1 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;

}

.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home h1 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.phone a {
    color: #FFFFFF;
    font-size: 30px;
}

.phone h1 {
    padding: 0 10px;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;

}

.our-img11 {
    position: absolute;
    width: 73px;
    height: 73px;
    left: 730px;
    top: 373px;
    border-radius: 50%;
    background: #FF9900;
    z-index: 5;
}

.our-img1 img {
    left: 20px;
    top: 15px;
    position: absolute;
}
.cap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#cap {
    background: url("../img/image 22.png") no-repeat bottom/cover;
    min-height: 90vh;
}
.figure-cap1 {
    margin: 20px 0;
    width: 278px;
    height: 0px;
    left: 901px;
    top: 4436px;
    border: 3px solid #FF9900;
    transform: rotate(-180deg);
}
.caps1 a {
    position: absolute;
    font-size: 30px ;
    color: #FF9900;
    top: 35px;
    left: 2px;
    z-index: 5;
}
.limon {
    position: relative;
}

.figure-cap1 {
    position: absolute;
    margin: 20px 0;
    width: 278px;
    height: 0px;
    left: 761px;
    top: -57px;
    border: 3px solid #FF9900;
    transform: rotate(-180deg);
}
.figure-cap2 {
    position: absolute;
    margin: 20px 0;
    width: 278px;
    height: 0px;
    left: 444px;
    top: -57px;
    border: 3px solid #FF9900;
    transform: rotate(-180deg);
}
.caps2 a {
    position: absolute;
    font-size: 30px ;
    color: #FF9900;
    top: 35px;
    left: 281px;
    z-index: 5;
}

.footer  line{
    width: 500px;
    background: #FF9900;
    height: 1px;
}
.limon  a {
    position: absolute;
    top: -50px;
    left: 431px;
    font-size: 30px;
    color: #FF9900;
}

.limons  a {
    position: absolute;
    top: -50px;
    left: 1026px;
    font-size: 30px;
    color: #FF9900;
}
/*.footer-block {*/
/*    position: absolute;*/
/*    width: 1440px;*/
/*    height: 293px;*/
/*    left: 0px;*/
/*    top: 6025px;*/
/*    border: 1px solid #FF9900;*/
/*    border-radius: 40px;*/
/*}*/



